<?xml version="1.0"?>

<robot name="bipedal_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="stick_mass" value="0.00001"/>
    <xacro:property name="damping" value="0.1"/>
    <xacro:property name="friction" value="0.0"/>

    <!-- simplified collision value -->
    <xacro:property name="stick_radius" value="0.01"/>
    <xacro:property name="stick_length" value="0.2"/>

    

</robot>
